
.product-header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.product-header img {
    max-width: 558px;
}

.product-header > * {
    margin: 10px;;
}

.product-header__text {
    display: flex;
    flex-direction: column;
}

.product-header p {
    max-width: 663px;
    text-align: left;
    border: 1px solid green;
}

.product-header h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    font-size: 48px;
    display: inline-block;
    text-align: center;
}

.product-tiles__main {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.product-tiles {

    display: inline-block;
    margin: 20px;
    border: 1px solid green;
}

.product-info h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    padding: 15px 0px;
}

.product-info h2 {
    color: #000;
    padding: 15px 0px;
}

.products-main-section {
    border: 1px solid green;
    display: flex;
    margin: auto;
    position: relative;
}

.product-tiles__main {
    display: grid;
    max-width: 1400px;
    margin: auto;
    grid-template-columns: auto auto auto;
}

.product-main {
    margin: auto;
}

.arrow-icon {
    position: absolute;
    right: 150px;
    bottom: 631px;
}