.main-footer {
    background-color: #000;
    color: #FFF;
    min-height: 372px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto 1fr;
}

.main-footer p {
    font-size: 16px;
    border: 1px solid green;
}

.main-footer ul {
    list-style: none;
    padding: 0px;
}

.main-footer a {
    text-decoration: none;
    color: #FFF;
    border: 1px solid green;
}

.footer-bold {
    font-weight: bold;
}

.main-footer .footer-logo {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    margin-top: -120px;
}

.fa-brands {
    padding: 8px;
}

.footer-customer-club-info {
    max-width: 300px;
    float: right;
    padding: 10px;
    grid-column: 5/6;
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
}

.footer-left {
    grid-column: 1;
}

.footer-middle {
    grid-column: 2/3;
}


.footer-payments {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 20px;
}

.footer-text {
    display: flex;
    margin-left: 30px;
}

.footer-icons {
    grid-column: 1;
    grid-row: 2;
    margin-left: 30px;
}