
.frontpage-sale {
    background: no-repeat url('../images/hero_photo_1.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.frontpage-sale h1, h2 {
    color: #FFF;
    display: inline-block;
    margin-bottom: 30px;
}

.frontpage-sale, a {
    margin-bottom: 30px;
}

.frontpage-scott {
    background: no-repeat url('../images/hero_photo_3.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

} 

.frontpage-scott h1, h2 {
    color: #FFF;
    display: inline-block;
    margin-bottom: 30px;
}

/* Product carousel on frontpage */

.product-carousel {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.carousel-product {
    display: block;
    margin: 20px;
    border: 1px solid green;
}

product-carousel p {
    font-size: 20px;
}