body {
    font-family: Cantarell, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 36px;
    color: #000;
    margin: 0px;
    padding: 15px;
    border: 1px solid green;
}

h2 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    font-size: 22px;
    margin: 0px;
    padding: 15px;
    border: 1px solid green;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid green;
}

.bold {
    font-weight: bold;
}

/* Nav-bar */

.upper-navigation-bar {
    background-color: #000;
    margin: 0px;
}

.upper-navigation-bar a {
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
    border: 1px solid green;
}

.upper-navigation-bar ul {
    padding: 0px;
    margin: 0px;
}

.upper-navigation-bar li {
    display: inline;
}

.left-nav-bar-items a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid green;
}

.main-logo {
    border: 1px solid green; 
    margin-left: 30px;
    max-height: auto;
    max-width: 115px;
}

.main-logo,
.left-nav-bar-items {
    float: left;
}

nav {
    height: 80px;
}
nav ul {
    padding: 0px;
}

nav a {
    padding: 10px;
}

nav li {
    display: inline;
}

nav .nav-bar-icons {
    text-align: right;
    border: 1px solid green;
    width: 350px;
    margin-left: auto;
}

.nav-bar-icons .fa-solid {
    padding: 20px; 
    display: inline-block;
    margin: 0px 15px 0px 0px; 
}

/*Giftcard section on frontpage */

.giftcard {
    background-color: #000;
    text-align: center;
    margin: 0px;
}

.giftcard a {
    color: #FFF;
    font-size: 10px;
    text-decoration: none;
    border: 1px solid green;
}

.frontpage-sale {
    background: no-repeat url('../images/hero_photo_1.jpg');
    background-size: cover;
    height: 800px;
    text-align: center;
    display: block;
    border: 1px solid green;
}

.frontpage-sale h1 {
    color: #FFF;
}

.frontpage-sale h2 {
    color: #FFF;
}

.frontpage-scott {
    background: no-repeat url('../images/hero_photo_3.jpg');
    background-size: cover;
    height: 800px;
    text-align: center;
    border: 1px solid green;
} 

.frontpage-scott h1 {
    color: #FFF
}

.frontpage-scott h2 {
    color: #FFF
}

/* Product carousel on frontpage */

.product-carousel {
    text-align: center;
}

.product-carousel .carousel-product {
    display: inline-block;
    margin: 20px;
    border: 1px solid green;
}

product-carousel p {
    font-size: 20px;
}

.fa-heart {
    float: right;
}

.arrow-icon {
    float: right;
}

/* Buttons */

.cta-frontpage {
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid green;
}

.cta-button-black {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid green;
}

.cta-green {
    background-color: #34A853;
    color: #FFF;
    padding: 8px 28px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

/* Contact page */

.contact-page {
    background-color: #EDEDED;
}

.contact-main {
    border: 1px solid green;
    max-width: 587px;
    padding: 15px;
    background-color: #FFF;
    margin: 10px;
}

.contact-info {
    border: 1px solid green;
    max-width:587px;
    padding: 15px;
    text-align: center;
    background-color: #FFF;
    margin: 10px;
}

.contact-page h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
}

/* About-page */

.about-main {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    border: 1px solid green;
}

.about-main h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
}

.about-pictures {
    text-align: center;
}

.about-pictures img {
    max-width: 700px;
}

/*Product pages*/

.product-main {
    border: 1px solid green;
    margin: 200px;
    text-align: center;
}

.product-header p {
    max-width: 663px;
    text-align: center;
    border: 1px solid green;
}

.product-header h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    font-size: 48px;
    display: inline-block;
    text-align: center;
}

.product-tiles {
    display: inline-block;
    margin: 20px;
    border: 1px solid green;
}

.product-info h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    padding: 15px 0px;
}

.product-info h2 {
    color: #000;
    padding: 15px 0px;
}

.product-info {
    max-width: 433px;
    border: 1px solid green;
}

.product-page {
    margin: 120px;
}

/*Purchase confirmation*/

.purchase-complete {
    background-color: #EBEBEB;
}

.purchase-complete-1 {
    max-width: 1370px;
    background-color: #FFF;
    text-align: center;
    margin: auto;
}

.purchase {
    border: 1px solid #8de186;
}

.purchase-complete-2 {
    max-width: 825px;
    margin: auto;
    border: 1px solid #8de186;
}

.purchase-complete-3 {
    max-width: 600px;
    margin: 10px 15px 10px 35px;
}

.purchase-complete-4 {
    max-width: 600px;
    margin: 10px 15px 10px 35px;
}

.purchase-complete-5 {
    max-width: 600px;
    margin: 10px 15px 10px 35px;
}

.purchase-complete-5 .cta-green {
    display: block;
}

.purchase-complete-6 {
    max-width: 600px;
    margin: 10px 15px 10px 35px;
}

/* Footer */

.main-footer {
    background-color: #000;
    color: #FFF;
    min-height: 372px;
}

.main-footer p {
    font-size: 16px;
    border: 1px solid green;
}

.main-footer ul {
    list-style: none;
    padding: 0px;
}

.main-footer a {
    text-decoration: none;
    color: #FFF;
    border: 1px solid green;
}

.fa-brands {
    padding: 8px;
}

.footer-logo {
  display: block;
  width: 285px;
  height: 153px;
  margin: auto;
}


.footer-customer-club-info {
    position: right;
    max-width: 300px;
    float: right;
    padding: 10px;
}

.footer-left, 
.footer-middle {
    float: left;
}

/*Media queries */

@media screen and (max-width: 800px) {
    nav li {
        display: block;
        padding: 20px;
        background-color: #FFF;
    }
}

@media screen and (max-width: 800px) {
    .upper-navigation-bar {
        display: none;
    }
    }

@media screen and (min-width: 800px) {
    .left-nav-bar-items .nav-small-screen {
        display: none;
    }
    }

@media screen and (max-width: 800px) {
    .giftcard {
        display: none;
    }
}