.product-main {
    border: 1px solid green;
    margin: 200px;
    text-align: center;
}

.product-header p {
    max-width: 663px;
    text-align: center;
    border: 1px solid green;
}

.product-header h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    font-size: 48px;
    display: inline-block;
    text-align: center;
}

.product-tiles {
    display: inline-block;
    margin: 20px;
    border: 1px solid green;
}

.product-info h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    padding: 15px 0px;
}

.product-info h2 {
    color: #000;
    padding: 15px 0px;
}

.product-info {
    max-width: 433px;
    border: 1px solid green;
}

.product-page {
    margin: 120px;
}